@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --baseText: #262626;
  --lightBlue: #2563eb;
  --darkBlue: #1d4ed8;

}

@media (prefers-color-scheme: dark) {
  :root {

  }
}

body {
  color: var(--baseText);
}
